Repository stackrox/collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/collector-team, @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Remove SSH access to builder container (#2540)
  .gitignore
  Makefile
  builder/Dockerfile
  docs/how-to-start.md
Owners: @stackrox/collector-team

Remove SSH access to builder container (#2540)
  .gitignore
  Makefile
  builder/Dockerfile
  docs/how-to-start.md
Owners: @stackrox/collector-team

Remove SSH access to builder container (#2540) (#2580)
  .gitignore
  Makefile
  builder/Dockerfile
  docs/how-to-start.md
Owners: @stackrox/collector-team

Remove SSH access to builder container (#2540) (#2581)
  .gitignore
  Makefile
  builder/Dockerfile
  docs/how-to-start.md
Owners: @stackrox/collector-team

chore(deps): update all updates (#2579)
  collector/container/konflux.Dockerfile
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Pin actionlint version
  .github/workflows/lint.yml
Owners: @stackrox/collector-team

Pin actionlint version (#2575)
  .github/workflows/lint.yml
Owners: @stackrox/collector-team

ROX-30918, ROX-31049: Update labels, fix docker mediaType (#2568)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
  collector/container/konflux.Dockerfile
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Bump arm64 instance type
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Update `cpe` label
  .tekton/collector-build.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-30918, ROX-31049: Update labels, fix docker mediaType (#2568)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
  collector/container/konflux.Dockerfile
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

build: Speed up `arm64` Konflux builds (#2433)
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Update `cpe` label
  .tekton/collector-build.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-30918, ROX-31049: Update labels, fix docker mediaType (#2583)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
  collector/container/konflux.Dockerfile
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Pin actionlint version
  .github/workflows/lint.yml
Owners: @stackrox/collector-team

ROX-30918, ROX-31049: Update labels, fix docker mediaType / 4.8 (#2589)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
  collector/container/konflux.Dockerfile
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Logging in assert
  integration-tests/pkg/assert/assert.go
Owners: @stackrox/collector-team

Pin actionlint version (#2582)
  .github/workflows/lint.yml
Owners: @stackrox/collector-team

ROX-30765: disable SLES
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-30765: disable SLES
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-30765: disable sles permanently
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-31317: disable mintmaker auto-approvals for release branches
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

ROX-31317: disable mintmaker auto-approvals for release branches (#2609)
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

ROX-31317: disable mintmaker auto-approvals for release branches (#2609)
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

ROX-31317: disable mintmaker auto-approvals for release branches (#2609)
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

ROX-31317: disable mintmaker auto-approvals for release branches (#2609)
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

fix merge conflict
  .github/renovate.json5
Owners: @stackrox/rhtap-maintainers

fix merge conflicts
  .github/renovate.json5
Owners: @stackrox/rhtap-maintainers

Remove the commented lines
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

Clean gardenlinux as well
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-30765: disable SLES
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

release-3.22: disable renovate automerge (#2611)
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

release-3.23: disable renovate automerge (#2612)
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

Remove sles instead of just commenting out
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

Remove sles instead of just commenting out
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-30765: disable sles permanently (#2605)
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-30765: disable SLES (#2613)
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-30765: disable SLES (#2604)
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-31317: disable mintmaker auto-approvals for release branches (#2609) (#2610)
  .github/renovate.json5
  .github/workflows/auto-approve.yml
Owners: @stackrox/rhtap-maintainers, @stackrox/collector-team

ROX-30765: disable SLES (#2603)
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

*    @stackrox/collector-team

# A PR to update RELEASED_VERSIONS is automatically opened on each release and should ideally be reviewed and merged asap
RELEASED_VERSIONS               @stackrox/collector-team
RELEASED_VERSIONS.unsupported   @stackrox/collector-team

# The RHTAP maintainers for ACS review all changes related to the Konflux pipelines, such as new
# pipelines, parameter changes or automated task updates as well as Dockerfile updates.
# rhacs-bot auto-approves MintMaker PRs for automated task and security updates.
# Unsuccessful auto-merges need to be fixed and approved by release managers.
**/konflux.*Dockerfile  @stackrox/rhtap-maintainers @stackrox/release-mgmt @rhacs-bot
/.tekton/               @stackrox/rhtap-maintainers @stackrox/release-mgmt @rhacs-bot
rpms.*                  @stackrox/rhtap-maintainers @stackrox/release-mgmt @rhacs-bot

# RHTAP maintainers review Renovate configuration.
.github/renovate.json5  @stackrox/rhtap-maintainers
