Repository stackrox/collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/collector-team, @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Swaps ibmcloud region to us-east for s390x (#2372)
  ansible/vars/s390x.yml
Owners: @stackrox/collector-team

Swaps ibmcloud region to us-east for s390x (#2372)
  ansible/vars/s390x.yml
Owners: @stackrox/collector-team

Update ansible tasks for ppc64le (#2097)
  ansible/requirements.yml
  ansible/roles/create-vm/tasks/create-ppc64le-vm.yml
  ansible/roles/destroy-vm/tasks/destroy-ppc64le-vm.yml
Owners: @stackrox/collector-team

Disable garden-linux integration tests
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

Disable garden-linux integration tests
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

ROX-25508: migrate collector pipeline to matrix builds
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

remove taskRunSpecs for removed build-container-* tasks
  .tekton/collector-build.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Add RHEL 10 VMs to our tests
  ansible/group_vars/all.yml
Owners: @stackrox/collector-team

test linux-cxlarge runners
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Add RHEL 10 VMs to our tests (#2636)
  ansible/group_vars/all.yml
Owners: @stackrox/collector-team

Switched to using schedule-curls.py which has better control over the timing of the curls and has logging
  integration-tests/container/QA_TAG
  integration-tests/container/schedule-curls/Dockerfile
  integration-tests/container/schedule-curls/schedule-curls.py
  integration-tests/container/schedule-curls/schedule-curls.sh
  integration-tests/suites/repeated_network_flow.go
Owners: @stackrox/collector-team

Added sleep to the end of the script so schedule-curls.py can be run without the container exiting. This helps in getting the logs
  integration-tests/container/schedule-curls/schedule-curls.py
  integration-tests/suites/repeated_network_flow.go
Owners: @stackrox/collector-team

Not getting the actual output from the server
  integration-tests/container/schedule-curls/schedule-curls.py
Owners: @stackrox/collector-team

A minor refactor
  integration-tests/container/schedule-curls/schedule-curls.py
Owners: @stackrox/collector-team

Checking that the number of active connections falls within an expected range
  integration-tests/integration_test.go
  integration-tests/suites/repeated_network_flow.go
Owners: @stackrox/collector-team

ROX-25508: migrate collector pipeline to matrix builds (#2634)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-25508: migrate collector pipeline to matrix builds (#2634)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-25508: migrate collector pipeline to matrix builds (#2634)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-25508: migrate collector pipeline to matrix builds (#2634)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-25508: migrate collector pipeline to matrix builds (#2634) (#2645)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-25508: migrate collector pipeline to matrix builds (#2634) (#2646)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

ROX-25508: migrate collector pipeline to matrix builds (#2634) (#2644)
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Misc fixes
  ansible/requirements.yml
  integration-tests/images.yml
Owners: @stackrox/collector-team

Misc fixes
  ansible/requirements.yml
  integration-tests/images.yml
Owners: @stackrox/collector-team

Misc fixes
  ansible/requirements.yml
  integration-tests/images.yml
Owners: @stackrox/collector-team

ROX-31052: Update CivetWeb (#2650)
  ansible/requirements.yml
  integration-tests/images.yml
Owners: @stackrox/collector-team

ROX-31052: Update CivetWeb (#2651)
  ansible/requirements.yml
  integration-tests/images.yml
Owners: @stackrox/collector-team

ROX-31053: Update CivetWeb (#2652)
  ansible/requirements.yml
  integration-tests/images.yml
Owners: @stackrox/collector-team

Red Hat Konflux update collector-4-8
  .tekton/collector-4-8-pull-request.yaml
  .tekton/collector-4-8-push.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Red Hat Konflux update collector-4-9
  .tekton/collector-4-9-pull-request.yaml
  .tekton/collector-4-9-push.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Red Hat Konflux update collector
  .tekton/collector-pull-request.yaml
  .tekton/collector-push.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Red Hat Konflux update collector-4-7
  .tekton/collector-4-7-pull-request.yaml
  .tekton/collector-4-7-push.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

block renovate from updating clang
  .github/renovate.json5
Owners: @stackrox/rhtap-maintainers

block renovate from updating clang
  .github/renovate.json5
Owners: @stackrox/rhtap-maintainers

Pin Clang to version 19 in Konflux
  rpms.in.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

Disable garden-linux integration tests
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

Disable garden-linux integration tests (#2631)
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

Disable garden-linux integration tests (#2632)
  .github/workflows/integration-tests.yml
Owners: @stackrox/collector-team

update rpms, without updating clang
  rpms.lock.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

rpm update with clang pinned to 19.1.7
  rpms.in.yaml
  rpms.lock.yaml
Owners: @stackrox/rhtap-maintainers, @stackrox/release-mgmt, @rhacs-bot

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

*    @stackrox/collector-team

# A PR to update RELEASED_VERSIONS is automatically opened on each release and should ideally be reviewed and merged asap
RELEASED_VERSIONS               @stackrox/collector-team
RELEASED_VERSIONS.unsupported   @stackrox/collector-team

# The RHTAP maintainers for ACS review all changes related to the Konflux pipelines, such as new
# pipelines, parameter changes or automated task updates as well as Dockerfile updates.
# rhacs-bot auto-approves MintMaker PRs for automated task and security updates.
# Unsuccessful auto-merges need to be fixed and approved by release managers.
**/konflux.*Dockerfile  @stackrox/rhtap-maintainers @stackrox/release-mgmt @rhacs-bot
/.tekton/               @stackrox/rhtap-maintainers @stackrox/release-mgmt @rhacs-bot
rpms.*                  @stackrox/rhtap-maintainers @stackrox/release-mgmt @rhacs-bot

# RHTAP maintainers review Renovate configuration.
.github/renovate.json5  @stackrox/rhtap-maintainers
