Repository stackrox/collector, pull requests merged in 2022-06, with the labels that each got.

#710 Block failing kernels
  kernel-modules/BLOCKLIST
Labels: skip-integration-tests

#711 Bump builder for fc34 5.17.10+ kernels
  .circleci/kernels/get-builder-flavor.sh
  .circleci/test-scripts/get-builder-flavor/TestInput.txt
Labels: skip-integration-tests

#715 Update ubi image version
  .circleci/dockerized-drivers/unify-images.sh
  .circleci/dockerized-pull-cache-image/10-pull-cache-image.sh
  collector/container/Dockerfile
  collector/container/Dockerfile.ubi
  kernel-modules/dockerized/Dockerfile
  kernel-modules/dockerized/Dockerfile.squash
Labels: run-dockerized-steps

#684 Use top-level cmake configuration
  CMakeLists.txt
  builder/build/build-collector.sh
  collector/CMakeLists.txt
  collector/Makefile
Labels: build-builder-image

#724 Generalize kernel module block for 5.18+
  kernel-modules/BLOCKLIST
Labels: skip-integration-tests

#713 ROX-11192 the collector can be built using podman
  builder/install/10-protobuf.sh
Labels: build-builder-image

#727 Add a script for bumping collector tags
  utilities/tag-bumper/README.md
  utilities/tag-bumper/requirements.txt
  utilities/tag-bumper/tag-bumper.py
Labels: skip-integration-tests

#730 Small fix on the prepare-src script
  kernel-modules/build/prepare-src
Labels: build-legacy-probes, skip-integration-tests

#726 Rox 11210 collector ci migration builder collector
  .openshift-ci/build/Dockerfile.build_collector
  .openshift-ci/build/build-collector.sh
  builder/Dockerfile
  collector/Makefile
Labels: build-builder-image

#725 Removes -g from default eBPF makefile build
  docs/release.md
  kernel-modules/MODULE_VERSION
  kernel-modules/README.md
  kernel-modules/probe/Makefile
Labels: build-full-images, no-cache

#731 Release branch/tag creation tool
  utilities/docs/release.md
  utilities/docs/tag-bumper.md
  utilities/release.py
  utilities/requirements.txt
  utilities/tag-bumper.py
  utilities/tag-bumper/requirements.txt
Labels: build-builder-image

#740 Process Arguments integration tests and refactor
  collector/lib/ProcessSignalFormatter.cpp
  integration-tests/collector_manager.go
  integration-tests/integration_test.go
  integration-tests/process.go
Labels: all-integration-tests
