Repository stackrox/collector, pull requests merged in 2022-04, with the labels that each got.

#618 Jv/rox 9202 run stackrox circleci from collector circleci
  .circleci/config.yml
  .circleci/initjob/40-set-label-environment-variables.sh
  .circleci/install-hub-comment.sh
  .circleci/integration-test-data/30-comment-on-pr.sh
  .circleci/run-stackrox-ci/10-run-stackrox-ci.sh
  .circleci/run-stackrox-ci/ci-url-comment-template.tpl
Labels: skip-integration-tests, run-stackrox-ci

#645 Push builder image to quay
  .circleci/builder/save-collector-builder-image.sh
  .circleci/config.yml
Labels: build-builder-image

#666 Re-add update-suppport-package CI step
  .circleci/config.yml
Labels: test-support-packages

#632 Append unreleased tags to support packages
  .circleci/config.yml
  kernel-modules/support-packages/01-collector-to-rox-version-map.py
  kernel-modules/support-packages/02-fetch-collectors-metadata.sh
  kernel-modules/support-packages/05-create-index.py
Labels: test-support-packages
