Repository stackrox/collector, pull requests merged in 2022-11, with the labels that each got.

#871 ROX-12484: drive integration tests using Ansible
  .openshift-ci/jobs/integration-tests/Dockerfile
  .openshift-ci/jobs/integration-tests/env.sh
  .openshift-ci/jobs/integration-tests/run-integration-tests.sh
  Makefile
  ansible/.gitignore
  ansible/Makefile
  ansible/README.md
  ansible/ansible.cfg
  ansible/ci/group_vars/all.yml
  ansible/ci/inventory_gcp.yml
  ansible/create-vms.yml
  ansible/dev/group_vars/all.yml
  ansible/dev/inventory_gcp.yml
  ansible/group_vars/platform_fedora_coreos.yml
  ansible/group_vars/platform_flatcar.yml
  ansible/integration-tests.yml
  ansible/provision-vms.yml
  ansible/requirements.txt
  ansible/roles/create-vm/tasks/main.yml
  ansible/roles/destroy-vm/tasks/main.yml
  ansible/roles/provision-vm/tasks/fedora-coreos.yml
  ansible/roles/provision-vm/tasks/flatcar.yml
  ansible/roles/provision-vm/tasks/main.yml
  ansible/roles/provision-vm/tasks/redhat.yml
  ansible/roles/provision-vm/tasks/ubuntu.yml
  ansible/run-integration-tests.yml
  ansible/tasks/test-collection-method.yml
  ansible/teardown-vms.yml
  ansible/vars/all.yml
  integration-tests/Makefile
  integration-tests/collector_manager.go
  integration-tests/go.mod
  integration-tests/go.sum
Labels: skip-integration-tests

#891 Exclude kernels 6.0+ from legacy collector versions
  .openshift-ci/drivers/pre-build.Dockerfile
  .openshift-ci/drivers/scripts/pr-checks.sh
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes

#898 Jv rox 13507 collector integration test that opens multiple ports in the same command
  Makefile
  integration-tests/Makefile
  integration-tests/integration_test.go
  integration-tests/process_originator.go
Labels: wip

#908 Generalize the check for SUSE kernels broken by ROX-11190
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes, skip-integration-tests
