Repository stackrox/collector, pull requests merged in 2022-05, with the labels that each got.

#668 Re-enable "CPaaS" image build (aka `ubi-image`)
  .circleci/config.yml
  .circleci/dockerized-drivers/build-drivers.sh
  .circleci/dockerized-drivers/create-task-file.sh
  .circleci/integration-test/20-setup-env-vars.sh
  .circleci/ubi-images/20-build-collector-ubi-images.sh
  collector/container/Dockerfile.ubi
  kernel-modules/dockerized/Dockerfile
  kernel-modules/dockerized/README.md
Labels: ci-run-against-ubi, dockerized-no-cache, run-dockerized-steps

#676 Fix dockerized tests
  .circleci/config.yml
Labels: run-dockerized-steps

#677 ROX-10044: Add SHA256 checksum to support packages
  kernel-modules/support-packages/04-create-support-packages.sh
  kernel-modules/support-packages/05-create-index.py
  kernel-modules/support-packages/README
  kernel-modules/support-packages/templates/index.html
Labels: test-support-packages

#673 Bump Ubuntu VMs to 22.04 LTS in tests
  .circleci/config.yml
  .circleci/test-scripts/baseline/compare-and-update-baseline.sh
  .circleci/test-scripts/baseline/main.py
Labels: run-dockerized-steps

#678 ROX-10260 - Fix afterglow bug
  collector/lib/ConnTracker.h
  collector/test/ConnTrackerTest.cpp
  integration-tests/integration_test.go
Labels: run-stackrox-ci

#688 Run all tests when `all-integration-tests` label is set in PRs
  .circleci/config.yml
  .circleci/integration-test/10-check-whether-to-run-job.sh
Labels: all-integration-tests

#687 Bump Garden Linux VM to 576.9
  .circleci/config.yml
Labels: all-integration-tests

#699 Jv/3.6.x fix build
  .circleci/config.yml
  .circleci/dockerized-drivers/build-drivers.sh
  .circleci/dockerized-drivers/create-task-file.sh
  .circleci/prepare-kernels/prepare-legacy-sources.sh
  .circleci/ubi-images/20-build-collector-ubi-images.sh
  Makefile
  builder/Dockerfile
  collector/container/Dockerfile.ubi
  kernel-modules/dockerized/Dockerfile
  kernel-modules/dockerized/README.md
Labels: build-builder-image

#700 Jv/3.6.x fix skip prepare legacy sources
  .circleci/config.yml
Labels: build-builder-image

#665 ROX-9802: Replace docker repositories with quay
  .circleci/builder/save-collector-builder-image.sh
  .circleci/collector/10-restore-collector-builder-image.sh
  .circleci/config.yml
  .circleci/images/100-push-images.sh
  .circleci/images/70-build-collector-slim-and-base-images.sh
  .circleci/images/80-build-collector-latest-images.sh
  .circleci/integration-test-local/10-setup-env-vars-local.sh
  .circleci/reload-released-images/30-determine-collector-versions-that-need-reload.sh
  .circleci/reload-released-images/50-reload-collector-images.sh
  .circleci/ubi-images/30-push-collector-ubi-images.sh
  Makefile
  README.md
  RELEASED_VERSIONS
  RELEASED_VERSIONS.unsupported
  collector/Makefile
  docs/how-to-start.md
  integration-tests/container/jsonlabel/Dockerfile
  integration-tests/container/perf/README.md
  kernel-modules/container/Dockerfile
  kernel-modules/support-packages/02-fetch-collectors-metadata.sh
  reload/missing-kernel-objects.sh
Labels: reload-released-images, build-builder-image, test-support-packages, run-dockerized-steps, build-qa-containers
