Repository stackrox/collector, pull requests merged in 2023-09, with the labels that each got.

#1271 Build multiarch full collector images
  .github/workflows/collector-full.yml
  .github/workflows/main.yml
  ansible/README.md
  ansible/ci-build-collector-full.yml
Labels: build-full-images, skip-integration-tests

#1314 Fix multiarch full image builds on cpaas workflows
  .github/workflows/collector-full.yml
  .github/workflows/cpaas.yml
  .github/workflows/main.yml
  ansible/ci-build-collector-full.yml
Labels: skip-integration-tests, run-cpaas-steps

#1308 Enable s390x testing
  .github/workflows/cpaas.yml
  .github/workflows/integration-tests-vm-type.yml
  .github/workflows/integration-tests.yml
  .gitignore
  ansible/README.md
  ansible/benchmarks.yml
  ansible/group_vars/all.yml
  ansible/roles/create-vm/tasks/create-s390x-vm.yml
  ansible/roles/create-vm/tasks/main.yml
  ansible/roles/create-vm/templates/ibm-cloud-inventory.j2
  ansible/roles/create-vm/vars/s390x.yml
  ansible/roles/destroy-vm/tasks/main.yml
  ansible/roles/run-test-target/tasks/build-tests.yml
  ansible/roles/run-test-target/tasks/main.yml
  ansible/roles/run-test-target/tasks/test-collection-method.yml
  ansible/roles/run-test-target/vars/main.yml
  integration-tests/Makefile
  integration-tests/benchmark_test.go
  integration-tests/suites/config/images.go
  integration-tests/suites/missing_proc_scrape.go
Labels: build-full-images, run-multiarch-tests

#1318 Fixes integration tests on noexec mounted directories
  .github/workflows/integration-tests.yml
  ansible/roles/run-test-target/tasks/build-tests.yml
  ansible/roles/run-test-target/vars/main.yml
Labels: all-integration-tests, skip-multiarch-builds

#1328 Improves QA tag processing to better support local development
  integration-tests/Makefile
  integration-tests/suites/config/images.go
Labels: skip-multiarch-builds

#1325 ROX-19605: new feature-flag to control aggregation of unmatched IPs
  collector/lib/CollectorConfig.cpp
  collector/lib/CollectorConfig.h
  collector/lib/CollectorService.cpp
  collector/lib/ConnTracker.cpp
  collector/lib/ConnTracker.h
  collector/test/ConnTrackerTest.cpp
Labels: skip-multiarch-builds

#1332 ROX-19721: block modules for RHEL >= 8.9
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes, skip-integration-tests, skip-multiarch-builds

#1336 Include stderr in build output ansible
  ansible/ci-build-collector.yml
Labels: skip-integration-tests, skip-multiarch-builds

#1296 Adds rhel-ppc64le to GHA integration tests (merging master changes)
  .github/workflows/cpaas.yml
  .github/workflows/integration-tests-vm-type.yml
  .gitignore
  ansible/README.md
  ansible/ci/group_vars/all.yml
  ansible/dev/group_vars/all.yml
  ansible/group_vars/all.yml
  ansible/group_vars/platform_rhel-ppc64le.yml
  ansible/roles/create-vm/tasks/create-ppc64le-vm.yml
  ansible/roles/create-vm/tasks/main.yml
  ansible/roles/create-vm/vars/ppc64le.yml
  ansible/roles/destroy-vm/tasks/destroy-ppc64le-vm.yml
  ansible/roles/destroy-vm/tasks/main.yml
  ansible/roles/provision-vm/tasks/redhat.yml
Labels: all-integration-tests, run-cpaas-steps, run-multiarch-tests

#1345 Fix retag-collector-full workflow
  .github/workflows/collector-full.yml
Labels: build-full-images, skip-integration-tests, skip-multiarch-builds
