Repository stackrox/collector, pull requests merged in 2023-10, with the labels that each got.

#1349 Pull all test images to avoid timing issues during tests
  ansible/roles/run-test-target/tasks/main.yml
  ansible/roles/run-test-target/tasks/pull-images.yml
Labels: all-integration-tests, skip-multiarch-builds

#1313 ROX-19901: Removes BoltDB & mock gRPC server from tests, in favor of in-tree gRPC server
  .github/workflows/integration-tests-vm-type.yml
  integration-tests/Makefile
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/integration_test.go
  integration-tests/suites/async_connections.go
  integration-tests/suites/base.go
  integration-tests/suites/benchmark.go
  integration-tests/suites/collector_startup.go
  integration-tests/suites/common/collector_manager.go
  integration-tests/suites/common/endpoint.go
  integration-tests/suites/common/executor.go
  integration-tests/suites/common/listen_address.go
  integration-tests/suites/common/network.go
  integration-tests/suites/common/process.go
  integration-tests/suites/common/process_originator.go
  integration-tests/suites/config/config.go
  integration-tests/suites/connections_and_endpoints.go
  integration-tests/suites/duplicate_endpoints.go
  integration-tests/suites/image_json.go
  integration-tests/suites/listening_ports.go
  integration-tests/suites/missing_proc_scrape.go
  integration-tests/suites/mock_sensor/expect_conn.go
  integration-tests/suites/mock_sensor/expect_proc.go
  integration-tests/suites/mock_sensor/ring.go
  integration-tests/suites/mock_sensor/server.go
  integration-tests/suites/process_network.go
  integration-tests/suites/procfs_scraper.go
  integration-tests/suites/repeated_network_flow.go
  integration-tests/suites/socat.go
  integration-tests/suites/symlink_process.go
  integration-tests/suites/types/endpoint.go
  integration-tests/suites/types/listen_address.go
  integration-tests/suites/types/network.go
  integration-tests/suites/types/process.go
  integration-tests/suites/types/process_originator.go
Labels: all-integration-tests, skip-multiarch-builds

#1342 ROX-19899: Implement SuiteSetup recovery to encapsulate critical cleanup
  integration-tests/suites/async_connections.go
  integration-tests/suites/base.go
  integration-tests/suites/benchmark.go
  integration-tests/suites/collector_startup.go
  integration-tests/suites/connections_and_endpoints.go
  integration-tests/suites/duplicate_endpoints.go
  integration-tests/suites/image_json.go
  integration-tests/suites/listening_ports.go
  integration-tests/suites/missing_proc_scrape.go
  integration-tests/suites/process_network.go
  integration-tests/suites/procfs_scraper.go
  integration-tests/suites/repeated_network_flow.go
  integration-tests/suites/socat.go
  integration-tests/suites/symlink_process.go
Labels: all-integration-tests, skip-multiarch-builds

#1348 ROX-19898: refactor collector configuration in tests
  integration-tests/suites/async_connections.go
  integration-tests/suites/base.go
  integration-tests/suites/benchmark.go
  integration-tests/suites/collector_startup.go
  integration-tests/suites/common/collector_manager.go
  integration-tests/suites/connections_and_endpoints.go
  integration-tests/suites/duplicate_endpoints.go
  integration-tests/suites/image_json.go
  integration-tests/suites/listening_ports.go
  integration-tests/suites/missing_proc_scrape.go
  integration-tests/suites/process_network.go
  integration-tests/suites/procfs_scraper.go
  integration-tests/suites/repeated_network_flow.go
  integration-tests/suites/socat.go
  integration-tests/suites/symlink_process.go
Labels: all-integration-tests, skip-multiarch-builds

#1352 Clean up of perf results accesses and storage
  integration-tests/scripts/baseline/main.py
  integration-tests/suites/async_connections.go
  integration-tests/suites/base.go
  integration-tests/suites/benchmark.go
  integration-tests/suites/connections_and_endpoints.go
  integration-tests/suites/duplicate_endpoints.go
  integration-tests/suites/image_json.go
  integration-tests/suites/listening_ports.go
  integration-tests/suites/missing_proc_scrape.go
  integration-tests/suites/process_network.go
  integration-tests/suites/procfs_scraper.go
  integration-tests/suites/repeated_network_flow.go
  integration-tests/suites/socat.go
  integration-tests/suites/symlink_process.go
Labels: skip-multiarch-builds

#1356 Allow skipping multiarch builder on PRs
  .github/workflows/collector-builder.yml
Labels: build-builder-image

#1366 Automate full image layer calculations
  .github/workflows/collector-full.yml
  ansible/ci-build-collector-full.yml
  kernel-modules/container/Dockerfile
  kernel-modules/container/required-layers.py
Labels: build-full-images

#1373 Skip multiarch builds as a default
  .github/workflows/collector-builder.yml
  .github/workflows/collector-full.yml
  .github/workflows/collector-slim.yml
Labels: build-builder-image, skip-integration-tests, run-multiarch-builds

#1379 Fix CPaaS full images build
  .github/workflows/collector-full.yml
Labels: skip-integration-tests

#1380 Enable s390x always in CPaaS workflows
  .github/workflows/cpaas.yml
  ansible/group_vars/all.yml
Labels: build-full-images, run-cpaas-steps, run-multiarch-builds

#1383 ROX-19778: Load metrics for connections
  collector/lib/CollectorConfig.cpp
  collector/lib/CollectorConfig.h
  collector/lib/CollectorService.cpp
  collector/lib/CollectorStats.h
  collector/lib/CollectorStatsExporter.cpp
  collector/lib/CollectorStatsExporter.h
  collector/lib/ConnTracker.cpp
  collector/lib/ConnTracker.h
  collector/lib/NetworkStatusNotifier.cpp
  collector/lib/NetworkStatusNotifier.h
  collector/test/ConnTrackerTest.cpp
  collector/test/NetworkStatusNotifierTest.cpp
  docs/references.md
  docs/troubleshooting.md
Labels: all-integration-tests

#1395 ROX-20541: Temporarily exclude kernels 6.6 from build
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes, skip-integration-tests

#1357 ROX-18679: containerize integration tests
  .github/workflows/integration-test-containers.yml
  .github/workflows/integration-tests-vm-type.yml
  .github/workflows/main.yml
  ansible/ci-build-tests.yml
  ansible/group_vars/platform_fedora_coreos.yml
  ansible/group_vars/platform_rhcos.yml
  ansible/requirements.txt
  ansible/roles/provision-vm/tasks/main.yml
  ansible/roles/run-test-target/tasks/build-tests.yml
  ansible/roles/run-test-target/tasks/main.yml
  ansible/roles/run-test-target/tasks/test-collection-method.yml
  ansible/roles/run-test-target/vars/main.yml
  ansible/vm-lifecycle.yml
  integration-tests/Dockerfile
  integration-tests/Makefile
  integration-tests/suites/base.go
Labels: all-integration-tests

#1372 Build drivers and support packages on master and PRs only
  .github/workflows/drivers.yml
  .github/workflows/main.yml
Labels: no-cache, test-support-packages
