Repository stackrox/collector, pull requests merged in 2023-03, with the labels that each got.

#1036 Add symlink to gcc10-gcc
  kernel-modules/build/fc36.Dockerfile
Labels: build-full-images, skip-integration-tests

#1042 Use the proper indent configuration for .cpp and .h files
  .editorconfig
Labels: skip-integration-tests

#1041 Bump Garden Linux VM to 934.5
  ansible/group_vars/all.yml
Labels: build-full-images, all-integration-tests

#1038 Bump standard to C++17 and drop StringView
  collector/CMakeLists.txt
  collector/lib/FileDownloader.cpp
  collector/lib/ProcfsScraper.cpp
  collector/lib/ProcfsScraper_internal.h
  collector/lib/StringView.h
  collector/lib/Utility.cpp
  collector/test/ConnScraperTest.cpp
  collector/test/StringViewTest.cpp
  collector/test/UtiliyTest.cpp
Labels: all-integration-tests

#969 Initial support for RHCOS and podman
  .github/workflows/integration-tests.yml
  ansible/Makefile
  ansible/benchmarks.yml
  ansible/dev/inventory_gcp.yml
  ansible/group_vars/all.yml
  ansible/group_vars/platform_rhcos.yml
  ansible/image-upload.yml
  ansible/integration-tests.yml
  ansible/roles/create-all-vms/tasks/main.yml
  ansible/roles/create-vm/tasks/main.yml
  ansible/roles/provision-vm/tasks/docker.yml
  ansible/roles/provision-vm/tasks/main.yml
  ansible/roles/provision-vm/tasks/podman.yml
  ansible/roles/run-test-target/tasks/main.yml
  ansible/roles/run-test-target/tasks/test-collection-method.yml
  ansible/vm-lifecycle.yml
  integration-tests/suites/base.go
  integration-tests/suites/common/collector_manager.go
  integration-tests/suites/common/executor.go
Labels: all-integration-tests

#1049 Refactors COLLECTOR_SD_LOGGING to use TRACE log level
  .github/workflows/integration-tests-vm-type.yml
  collector/lib/CollectorConfig.cpp
  collector/lib/CollectorConfig.h
  collector/lib/Logging.cpp
  collector/lib/SysdigService.cpp
  integration-tests/README.md
  integration-tests/suites/common/collector_manager.go
Labels: integration-tests-trace-logging

#1039 Add a BTF probes ADR
  .adr/0001-btf-probes-support.md
  .adr/0002-modern-probe-delivery.md
Labels: skip-integration-tests

#1055 Bump Garden Linux VM to version 934.6
  ansible/group_vars/all.yml
Labels: all-integration-tests

#1061 Bumps the RHCOS 4.12 version and adds 4.13 image
  ansible/group_vars/all.yml
  ansible/roles/create-all-vms/tasks/by-family.yml
  ansible/roles/create-all-vms/tasks/by-image.yml
  ansible/roles/create-all-vms/tasks/main.yml
Labels: all-integration-tests

#1062 Block kernels with missing cc_mkenc (5.14.0 RHEL9)
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes

#1071 Automate Garden Linux VM version bump
  .github/workflows/gardenlinux-bumper.yml
  ansible/group_vars/all.yml
  ansible/group_vars/gardenlinux-image.txt
  utilities/gardenlinux-bumper/bumper.py
  utilities/gardenlinux-bumper/requirements.txt
Labels: all-integration-tests
