Repository stackrox/collector, pull requests merged in 2023-08, with the labels that each got.

#1264 Skip multiarch build in PRs
  .github/workflows/collector-slim.yml
  Makefile
  ansible/README.md
  ansible/ci-build-collector.yml
  ansible/requirements.yml
Labels: skip-integration-tests

#1270 Prevent cache builders for specific archs from overwriting the multiarch manifest
  .github/workflows/collector-slim.yml
  ansible/ci-build-collector.yml
Labels: build-builder-image, skip-integration-tests

#1248 ROX-18548: Use downstream built drivers for image and support-packages
  .github/actions/support-package-driver-matrix/action.yml
  .github/actions/support-package-driver-matrix/driver-matrix.py
  .github/workflows/init.yml
  .github/workflows/main.yml
  .github/workflows/support-packages.yml
  kernel-modules/BLOCKLIST
  kernel-modules/MODULE_VERSION
  kernel-modules/support-packages/04-create-support-packages.sh
  kernel-modules/support-packages/utils.sh
Labels: build-full-images, test-support-packages

#1267 Move multiarch manifest creation to a separate action
  .github/actions/create-multiarch-manifest/action.yml
  .github/workflows/collector-slim.yml
Labels: build-builder-image

#1272 Check bucket has drivers before using it
  .github/actions/support-package-driver-matrix/action.yml
  .github/workflows/main.yml
  kernel-modules/support-packages/04-create-support-packages.sh
  kernel-modules/support-packages/utils.sh
Labels: test-support-packages, skip-integration-tests

#1275 Block 6.3+ kernels on failing versions
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes, skip-integration-tests, skip-multiarch-builds

#1278 Extend the build image step to match the job timeout
  .github/workflows/collector-slim.yml
Labels: skip-integration-tests

#1279 Use the downstream built image for testing
  .github/workflows/collector-full.yml
  .github/workflows/cpaas.yml
  .github/workflows/main.yml
Labels: build-full-images, run-cpaas-steps

#1285 Split cpaas workflow from main
  .github/workflows/cpaas.yml
  .github/workflows/main.yml
Labels: skip-integration-tests, run-cpaas-steps

#1288 Checkout code when determining if builder should be built
  .github/workflows/collector-builder.yml
Labels: skip-integration-tests

#1289 Remove stale pull of builder image with skip-multiarch
  .github/workflows/collector-slim.yml
Labels: skip-integration-tests, skip-multiarch-builds

#1243 ROX-18736 Report connections only when they are established
  collector/CMakeLists.txt
  collector/lib/CollectorConfig.h
  collector/lib/NetworkSignalHandler.cpp
  collector/lib/SysdigService.cpp
  integration-tests/integration_test.go
Labels: all-integration-tests, skip-multiarch-builds

#1259 Adds rhel-s390x to GHA integration tests
  .github/workflows/cpaas.yml
  .github/workflows/integration-tests-vm-type.yml
  .gitignore
  ansible/README.md
  ansible/ansible-collections.yml
  ansible/ansible.cfg
  ansible/ci/group_vars/all.yml
  ansible/ci/inventory_gcp.yml
  ansible/dev/group_vars/all.yml
  ansible/dev/inventory_gcp.yml
  ansible/group_vars/all.yml
  ansible/roles/create-vm/s390x-vars.yml
  ansible/roles/create-vm/tasks/create-s390x-vm.yml
  ansible/roles/create-vm/tasks/main.yml
  ansible/roles/create-vm/templates/ibm-cloud-inventory.j2
  ansible/roles/destroy-vm/tasks/destroy-s390x-vm.yml
  ansible/roles/destroy-vm/tasks/main.yml
  ansible/roles/provision-vm/tasks/fedora-coreos.yml
  ansible/roles/provision-vm/tasks/redhat.yml
  ansible/roles/run-test-target/tasks/test-collection-method.yml
Labels: all-integration-tests, run-cpaas-steps, skip-multiarch-builds

#1298 Check the correct subdirectory for downstream drivers
  .github/workflows/init.yml
Labels: skip-integration-tests, skip-multiarch-builds

#1291 Automated integration test images builds
  .github/workflows/integration-test-containers.yml
  .github/workflows/integration-tests-vm-type.yml
  .github/workflows/main.yml
  integration-tests/container/Makefile-constants.mk
  integration-tests/container/QA_TAG
  integration-tests/container/README.md
  integration-tests/container/benchmark/Dockerfile
  integration-tests/container/benchmark/Makefile
  integration-tests/container/containerstats/Dockerfile
  integration-tests/container/containerstats/Makefile
  integration-tests/container/jsonlabel/Makefile
  integration-tests/container/perf/Dockerfile
  integration-tests/container/perf/Dockerfile.bpftrace
  integration-tests/container/perf/Makefile
  integration-tests/container/processes-listening-on-ports/Makefile
  integration-tests/container/schedule-curls/Makefile
  integration-tests/container/socat/Dockerfile
  integration-tests/container/socat/Makefile
  integration-tests/images.yml
  integration-tests/suites/async_connections.go
  integration-tests/suites/config/images.go
  integration-tests/suites/connections-and-endpoints.go
  integration-tests/suites/duplicate_endpoints.go
  integration-tests/suites/process_network.go
  integration-tests/suites/socat.go
Labels: build-qa-containers, skip-multiarch-builds

#1307 Switches to using buildx properly for multi-arch
  .github/workflows/integration-test-containers.yml
  integration-tests/container/Makefile-constants.mk
  integration-tests/container/QA_TAG
  integration-tests/container/benchmark/Makefile
  integration-tests/container/containerstats/Makefile
  integration-tests/container/jsonlabel/Makefile
  integration-tests/container/perf/Makefile
  integration-tests/container/processes-listening-on-ports/Makefile
  integration-tests/container/schedule-curls/Makefile
  integration-tests/container/socat/Makefile
  integration-tests/images.yml
Labels: skip-multiarch-builds

#1306 Merge downstream and upstream drivers for online download
  .github/workflows/cpaas-sync-drivers.yml
  .github/workflows/cpaas.yml
  .github/workflows/init.yml
  .github/workflows/main.yml
  .github/workflows/upload-drivers.yml
Labels: no-cache, skip-integration-tests, run-cpaas-steps, skip-multiarch-builds

#1283 Improve ansible output
  .github/workflows/collector-slim.yml
  ansible/ansible.cfg
  ansible/ci-build-collector.yml
  ansible/roles/run-test-target/tasks/test-collection-method.yml
Labels: skip-multiarch-builds
