Repository stackrox/collector, pull requests merged in 2023-04, with the labels that each got.

#1080 Add the ability to run tests with variable collection methods
  .github/workflows/integration-tests-vm-type.yml
  ansible/ansible.cfg
  ansible/benchmarks.yml
  ansible/integration-tests.yml
  ansible/roles/create-all-vms/tasks/main.yml
  ansible/roles/run-test-target/tasks/main.yml
  integration-tests/scripts/baseline/main.py
Labels: all-integration-tests

#1094 Only build support packages for release versions
  kernel-modules/support-packages/01-collector-to-rox-version-map.py
Labels: test-support-packages

#1099 Remove deprecated COS 89 from tests
  ansible/README.md
  ansible/group_vars/all.yml
  integration-tests/README.md
Labels: all-integration-tests

#1096 Remove blocklist lines for unsupported versions
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes

#1124 Fix image builds on MacOS
  .github/workflows/collector-slim.yml
  Makefile
  Makefile-constants.mk
  collector/Makefile
Labels: build-multiarch-image

#1127 Improve compatibility with podman
  Makefile
  collector/CMakeLists.txt
  collector/falcosecurity-libs
Labels: no-cache

#1136 Block drivers for 6.3 kernels
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes

#1117 Module version 2.5.0 / kernel module blocking
  .github/workflows/collector-full.yml
  kernel-modules/BLOCKLIST
  kernel-modules/MODULE_VERSION
Labels: build-full-images

#1140 Remove explicit install of elfutils-libelf in containers building probes.
  kernel-modules/build/fc36.Dockerfile
  kernel-modules/build/rhel7.Dockerfile
  kernel-modules/build/rhel8.Dockerfile
Labels: build-legacy-probes

#1142 Disables SLES-12 tests
  ansible/group_vars/all.yml
Labels: all-integration-tests

#1148 Revert to using a dedicated image for repeated_network_flow
  integration-tests/container/schedule-curls/Dockerfile
  integration-tests/container/schedule-curls/Makefile
  integration-tests/container/schedule-curls/schedule-curls.sh
  integration-tests/suites/repeated_network_flow.go
Labels: all-integration-tests
