Repository stackrox/collector, pull requests merged in 2024-06, with the labels that each got.

#1667 eBPF turn-off-ening
  .github/workflows/benchmarks.yml
  .github/workflows/collector-full.yml
  .github/workflows/collector.yml
  .github/workflows/cpaas.yml
  .github/workflows/init.yml
  .github/workflows/integration-tests-vm-type.yml
  .github/workflows/integration-tests.yml
  .github/workflows/main-drivers.yml
  .github/workflows/main.yml
  ansible/benchmarks.yml
  ansible/ci-build-collector-full.yml
  ansible/ci-build-collector.yml
  ansible/group_vars/all.yml
  ansible/integration-tests.yml
  ansible/roles/create-all-vms/tasks/by-image.yml
  ansible/roles/create-vm/tasks/create-ppc64le-vm.yml
  ansible/roles/create-vm/tasks/main.yml
  ansible/vars/ppc64le.yml
  ansible/vars/s390x.yml
  collector/Makefile
  collector/container/Dockerfile
  collector/kernel-modules/LICENSE
  collector/lib/HostHeuristics.cpp
  kernel-modules/Makefile
  kernel-modules/build/prepare-src
  kernel-modules/container/.gitignore
  kernel-modules/container/Dockerfile
  kernel-modules/container/partition-probes.py
  kernel-modules/container/required-layers.py
  kernel-modules/dev/build-drivers.sh
Labels: all-integration-tests, run-cpaas-steps, run-multiarch-builds

#1697 Don't build support packages for 2.10.0 and newer
  .github/workflows/main-drivers.yml
  .github/workflows/support-packages.yml
  kernel-modules/support-packages/04-create-support-packages.sh
  kernel-modules/support-packages/utils.sh
Labels: test-support-packages

#1691 Run integration tests on konflux built images
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-integration-tests.yml
  .github/workflows/konflux-tests.yml
  .github/workflows/konflux.yml
Labels: all-integration-tests, run-multiarch-builds

#1703 Fix driver notifications and remove RHEL 8 builder
  .github/workflows/main-drivers.yml
  kernel-modules/BLOCKLIST
  kernel-modules/build/kernel-splitter.py
  kernel-modules/build/rhel8.Dockerfile
Labels: build-legacy-probes, no-cache

#1696 Unblock drivers for RHEL 9.4+ on 2.9.1
  kernel-modules/BLOCKLIST
Labels: build-legacy-probes

#1707 Remove support packages from driver workflow notification
  .github/workflows/main-drivers.yml
Labels: skip-integration-tests

#1706 Adjust buffer size instead of cpu-per-core
  collector/lib/CollectorConfig.cpp
  collector/lib/CollectorConfig.h
  collector/test/CollectorConfigTest.cpp
  docs/references.md
Labels: run-multiarch-builds

#1711 Have the RHEL VMs in our integration tests use podman instead of docker
  ansible/ci/inventory_gcp.yml
  ansible/dev/inventory_gcp.yml
  ansible/group_vars/all.yml
  ansible/group_vars/container_engine_podman.yml
  ansible/group_vars/platform_rhcos.yml
  ansible/roles/create-all-vms/tasks/by-family.yml
  ansible/roles/create-all-vms/tasks/by-image.yml
  ansible/roles/create-vm/tasks/create-gcp-vm.yml
  ansible/roles/provision-vm/tasks/redhat.yml
Labels: run-multiarch-builds

#1718 Disabling the COS dev tests until we can look into the verifier error
  ansible/group_vars/all.yml
Labels: all-integration-tests

#1716 Narrow down disabling of RHUI repo to the one family that is failing
  ansible/group_vars/all.yml
  ansible/roles/provision-vm/tasks/redhat.yml
Labels: all-integration-tests, run-multiarch-builds

#1717 Simplify VM naming scheme for testing
  ansible/roles/create-all-vms/tasks/by-image.yml
Labels: all-integration-tests, run-multiarch-builds

#1719 Update dnf cache before installing packages
  ansible/roles/provision-vm/tasks/redhat.yml
Labels: all-integration-tests, run-multiarch-builds

#1710 Switch ppc64le cloud region
  ansible/group_vars/all.yml
  ansible/roles/create-vm/tasks/create-ppc64le-vm.yml
  ansible/vars/ppc64le.yml
Labels: all-integration-tests, run-multiarch-builds

#1730 Skip 2.10 support package build
  kernel-modules/support-packages/03-group-by-module-version.sh
Labels: test-support-packages
