Repository stackrox/collector, pull requests merged in 2024-07, with the labels that each got.

#1731 Remove WARNING health status for ppc64le VMs
  ansible/roles/create-vm/tasks/create-ppc64le-vm.yml
Labels: run-multiarch-builds

#1733 Switches c-ares download to github release link
  builder/install/30-cares.sh
Labels: build-builder-image

#1735 Remove driver builds, relying on downstream for support packages
  .github/workflows/check-drivers-failures.yml
  .github/workflows/cpaas-sync-drivers.yml
  .github/workflows/drivers.yml
  .github/workflows/init.yml
  .github/workflows/main-drivers.yml
  .github/workflows/notify-module-version.yml
  .github/workflows/support-packages.yml
  .github/workflows/upload-drivers.yml
  docs/driver-builds.md
  docs/imgs/driver-build-overview.svg
  docs/imgs/driver-build.svg
  kernel-modules/BLOCKLIST
  kernel-modules/Makefile
  kernel-modules/README.md
  kernel-modules/build/apply-blocklist.py
  kernel-modules/build/build-kos
  kernel-modules/build/build-wrapper.sh
  kernel-modules/build/drivers-build-failures.sh
  kernel-modules/build/extract-kernel-versions-from-module-files
  kernel-modules/build/fc36.Dockerfile
  kernel-modules/build/fc39.Dockerfile
  kernel-modules/build/get-build-tasks.sh
  kernel-modules/build/kernel-splitter.py
  kernel-modules/build/mock-cache.sh
  kernel-modules/build/oracle.Dockerfile
  kernel-modules/build/patch-files.sh
  kernel-modules/build/prepare-src
  kernel-modules/build/redhat-entrypoint.sh
  kernel-modules/build/rhel7.Dockerfile
  kernel-modules/build/rhel9.Dockerfile
  kernel-modules/build/utils.sh
  kernel-modules/probe/Makefile
  kernel-modules/probe/collector_probe.c
  kernel-modules/probe/collector_probe.h
Labels: run-cpaas-steps

#1736 Builds integration tests image on demand rather than for every commit
  .github/workflows/benchmarks.yml
  .github/workflows/cpaas.yml
  .github/workflows/integration-test-containers.yml
  .github/workflows/integration-tests-vm-type.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-integration-tests.yml
  .github/workflows/konflux-tests.yml
  .github/workflows/main.yml
Labels: run-cpaas-steps

#1743 Nightly CI for Collector
  .github/workflows/benchmarks.yml
  .github/workflows/collector-builder.yml
  .github/workflows/collector.yml
  .github/workflows/init.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-integration-tests.yml
  .github/workflows/konflux.yml
  .github/workflows/main.yml
Labels: build-builder-image, run-multiarch-builds

#1752 Shorten ubuntu arm name so GCP doesn't complain of VM name too long
  .github/workflows/integration-tests.yml
  ansible/group_vars/all.yml
  ansible/roles/provision-vm/tasks/main.yml
Labels: run-multiarch-builds

#1758 Backport network flow aggregation
  builder/install/30-cares.sh
  collector/lib/CollectorConfig.cpp
  collector/lib/CollectorConfig.h
  collector/lib/CollectorService.cpp
  collector/lib/ConnTracker.cpp
  collector/lib/ConnTracker.h
  collector/test/ConnTrackerTest.cpp
  docs/references.md
Labels: build-builder-image

#1764 Stop running konflux tests on release branches and tags
  .github/workflows/konflux.yml
Labels: skip-integration-tests

#1765 Simplify GCP VM name generation
  ansible/ci/group_vars/all.yml
  ansible/ci/inventory_gcp.yml
  ansible/dev/group_vars/all.yml
  ansible/dev/inventory_gcp.yml
  ansible/roles/create-all-vms/tasks/by-family.yml
  ansible/roles/create-all-vms/tasks/main.yml
Labels: all-integration-tests
