Repository stackrox/collector, pull requests merged in 2024-09, with the labels that each got.

#1818 Do not process gcloudignore files when uploading support-packages
  .github/workflows/cpaas-sync-drivers.yml
Labels: skip-integration-tests, run-cpaas-steps

#1826 Local dev fixes
  .gitignore
  Makefile
  Makefile-constants.mk
  collector/CMakeLists.txt
  collector/Makefile
  collector/collector.cpp
  collector/container/Dockerfile
  collector/container/konflux.Dockerfile
  collector/lib/CollectorVersion.h.in
  docs/how-to-start.md
  integration-tests/pkg/collector/collector_k8s.go
  integration-tests/pkg/config/config.go
  integration-tests/pkg/config/env.go
Labels: run-multiarch-builds

#1792 ROX-24840 Docker client API for integration tests
  integration-tests/Makefile
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/pkg/collector/collector.go
  integration-tests/pkg/collector/collector_docker.go
  integration-tests/pkg/collector/collector_k8s.go
  integration-tests/pkg/common/utils.go
  integration-tests/pkg/config/config.go
  integration-tests/pkg/config/container_config.go
  integration-tests/pkg/config/env.go
  integration-tests/pkg/executor/docker_registry.go
  integration-tests/pkg/executor/executor.go
  integration-tests/pkg/executor/executor_docker.go
  integration-tests/pkg/executor/executor_docker_api.go
  integration-tests/pkg/executor/executor_k8s.go
  integration-tests/pkg/executor/retry.go
  integration-tests/pkg/log/logging.go
  integration-tests/suites/async_connections.go
  integration-tests/suites/base.go
  integration-tests/suites/benchmark.go
  integration-tests/suites/connections_and_endpoints.go
  integration-tests/suites/duplicate_endpoints.go
  integration-tests/suites/http_endpoint_availability.go
  integration-tests/suites/image_json.go
  integration-tests/suites/k8s_namespace.go
  integration-tests/suites/listening_ports.go
  integration-tests/suites/perf_event_open.go
  integration-tests/suites/process_network.go
  integration-tests/suites/processes_and_endpoints.go
  integration-tests/suites/procfs_scraper.go
  integration-tests/suites/repeated_network_flow.go
  integration-tests/suites/socat.go
  integration-tests/suites/symlink_process.go
Labels: all-integration-tests, run-multiarch-builds, run-benchmark

#1833 Include hidden files for downstream driver failures artifact
  .github/workflows/cpaas-sync-drivers.yml
Labels: run-cpaas-steps

#1834 Determine host architecture without using docker
  Makefile-constants.mk
Labels: run-multiarch-builds

#1851 Enable InsertBraces in clang-format
  .clang-format
  .github/workflows/lint.yml
  collector/lib/CollectorStats.h
  collector/lib/DuplexGRPC.h
  collector/lib/ProcfsScraper.cpp
  collector/lib/SignalServiceClient.cpp
  collector/lib/SignalServiceClient.h
  collector/test/HostHeuristicsTest.cpp
  integration-tests/container/perf/scripts/init.sh
Labels: skip-integration-tests

#1853 Pin GHA runners to ubuntu-24.04
  .github/workflows/benchmarks.yml
  .github/workflows/check-drivers-failures.yml
  .github/workflows/collector-builder.yml
  .github/workflows/collector.yml
  .github/workflows/cpaas-sync-drivers.yml
  .github/workflows/cpaas.yml
  .github/workflows/gardenlinux-bumper.yml
  .github/workflows/init.yml
  .github/workflows/integration-test-containers.yml
  .github/workflows/integration-tests-vm-type.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-integration-tests.yml
  .github/workflows/konflux.yml
  .github/workflows/main.yml
Labels: run-cpaas-steps

#1860 Replace processes-listening-on-ports.c with plop.py
  integration-tests/container/QA_TAG
  integration-tests/container/processes-listening-on-ports/Dockerfile
  integration-tests/container/processes-listening-on-ports/plop.py
  integration-tests/container/processes-listening-on-ports/process-listening-on-ports.c
  integration-tests/container/processes-listening-on-ports/requirements.txt
  integration-tests/suites/base.go
  integration-tests/suites/listening_ports.go
  integration-tests/suites/symlink_process.go
Labels: run-multiarch-builds

#1859 Switch ppc64le cloud region to mitigate vm creation failures.
  ansible/vars/ppc64le.yml
Labels: all-integration-tests, run-multiarch-builds

#1871 Add Ubuntu 24.04 to the VMs used during testing
  ansible/group_vars/all.yml
Labels: run-multiarch-builds
