Repository stackrox/collector, pull requests merged in 2024-02, with the labels that each got.

#1528 Enable cos integration tests
  .github/workflows/integration-tests.yml
Labels: all-integration-tests

#1511 ROX-21403: Option to ignore a set of networks.
  collector/lib/CollectorConfig.cpp
  collector/lib/CollectorConfig.h
  collector/lib/CollectorService.cpp
  collector/lib/ConnTracker.cpp
  collector/lib/ConnTracker.h
  collector/lib/EnvVar.h
  collector/lib/NRadix.cpp
  collector/lib/NRadix.h
  collector/lib/NetworkConnection.cpp
  collector/lib/NetworkConnection.h
  collector/test/ConnTrackerTest.cpp
  collector/test/NRadixTest.cpp
  collector/test/NetworkConnectionTest.cpp
  docs/references.md
Labels: run-multiarch-builds

#1541 Add a cleanup action
  .github/actions/job-preamble/action.yml
  .github/workflows/support-packages.yml
Labels: test-support-packages

#1543 Makes cpaas drivers failure artifacts unique for each architecture
  .github/workflows/benchmarks.yml
  .github/workflows/check-drivers-failures.yml
  .github/workflows/collector-full.yml
  .github/workflows/cpaas-sync-drivers.yml
  .github/workflows/drivers.yml
  .github/workflows/integration-test-containers.yml
  .github/workflows/upload-drivers.yml
Labels: run-cpaas-steps, run-multiarch-builds

#1544 Block 6.8 kernels due to compilation issues
  kernel-modules/BLOCKLIST
Labels: skip-integration-tests
