Repository stackrox/collector, pull requests merged in 2025-06, with the labels that each got.

#2166 build: Fix Konflux builds
  .tekton/collector-build.yaml
  collector/container/konflux.Dockerfile
Labels: backport-for-4.6-konflux-release, backport-for-4.7-konflux-release, backport-for-4.8-konflux-release

#2183 Move the collector tests image to its own registry (#2150)
  .github/workflows/integration-test-containers.yml
  .github/workflows/integration-tests-vm-type.yml
  .github/workflows/k8s-integration-tests.yml
  ansible/roles/run-test-target/tasks/test-collection-method.yml
  integration-tests/Makefile
Labels: build-builder-image

#2187 Add a label forcing a test container rebuild on PRs (#2180)
  .github/workflows/integration-test-containers.yml
Labels: build-builder-image

#2176 Backport konflux changes to 3.20 (stackrox 4.6)
  .github/CODEOWNERS
  .github/renovate.json5
  .github/workflows/integration-test-containers.yml
  .github/workflows/k8s-integration-tests.yml
  .github/workflows/konflux.yml
  .github/workflows/main.yml
  .konflux/README.md
  .konflux/scripts/fail-build-if-git-is-dirty.sh
  .konflux/scripts/subscription-manager-bro.sh
  .syft.yaml
  .tekton/collector-build.yaml
  .tekton/collector-component-pipeline.yaml
  .tekton/determine-image-tag-task.yaml
  builder/install/50-jq.sh
  builder/install/versions.sh
  collector/Makefile
  collector/container/konflux.Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
  rpms.rhel.repo
Labels: build-builder-image

#2195 konflux: Add 4.6 suffix
  .tekton/collector-build.yaml
Labels: build-builder-image, rebuild-test-container
